[submodule "benchmarks/CPU/coremark"]
	path = benchmarks/CPU/coremark
	url = https://github.com/eembc/coremark.git
[submodule "benchmarks/CPU/linpack"]
	path = benchmarks/CPU/linpack
	url = https://github.com/ereyes01/linpack.git
[submodule "benchmarks/syslevel/rt-tests"]
	path = benchmarks/syslevel/rt-tests
	url = https://github.com/vianpl/rt-tests.git
[submodule "benchmarks/IO/fio"]
	path = benchmarks/IO/fio
	url = https://github.com/axboe/fio.git
[submodule "benchmarks/CPU/testfloat"]
	path = benchmarks/CPU/testfloat
	url = https://github.com/ucb-bar/berkeley-testfloat-3.git
[submodule "benchmarks/memory/STREAM"]	
	path = benchmarks/memory/STREAM
	url = https://github.com/jeffhammond/STREAM.git
[submodule "benchmarks/IO/sockperf"]
	path = benchmarks/IO/sockperf
	url = https://github.com/Mellanox/sockperf.git
[submodule "benchmarks/CPU/softfloat"]
	path = benchmarks/CPU/softfloat
	url = https://github.com/ucb-bar/berkeley-softfloat-3.git
[submodule "benchmarks/CPU/dhrystone"]
	path = benchmarks/CPU/dhrystone
	url = https://github.com/sifive/benchmark-dhrystone.git
[submodule "benchmarks/sysbench"]
	path = benchmarks/sysbench
	url = https://github.com/akopytov/sysbench.git
[submodule "benchmarks/GPU/vkmark"]
	path = benchmarks/GPU/vkmark
	url = https://github.com/vkmark/vkmark.git
[submodule "benchmarks/memory/tinymembench"]
	path = benchmarks/memory/tinymembench
	url = https://github.com/nuumio/tinymembench.git
[submodule "benchmarks/memory/ramspeed"]
	path = benchmarks/memory/ramspeed
	url = https://github.com/wtarreau/ramspeed.git
[submodule "benchmarks/CPU/sbc-bench"]
	path = benchmarks/CPU/sbc-bench
	url = https://github.com/ThomasKaiser/sbc-bench.git
[submodule "benchmarks/CPU/synchrobench"]
	path = benchmarks/CPU/synchrobench
	url = https://github.com/gramoli/synchrobench.git
